In [2]:
import numpy as np

In [21]:
A = np.round(np.random.uniform(0,100,10000))
B = np.round(np.concatenate((np.random.uniform(20,30,5000),np.random.uniform(70,80,5000))))

In [22]:
import pandas as pd

In [26]:
df = pd.DataFrame({"A": A, "B": B})
df.head(10)

      A     B
0  13.0  21.0
1   7.0  21.0
2  75.0  28.0
3  85.0  26.0
4  74.0  26.0
5  50.0  24.0
6   5.0  22.0
7  28.0  30.0
8  62.0  20.0
9   4.0  27.0